body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #3d5abb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    color: #f0f0f0;
    margin-bottom: 20px;
    text-align: center;
}
label {
    color: #f0f0f0;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p{
    color: #f0f0f0;
    
}
p a{
    text-decoration: none;
    align-items: center;
    color: #f0f0f0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}